/*
    Box Sizing
*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins, sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
}

a {
  text-decoration: none;
}

header {
  height: 100vh;
  background-color: #fff;
  border-bottom-left-radius: 16%;
}

.navbar {
  display: flex;
  align-items: center;
  height: 72px;
}

.navbar .navbar-brand {
  font-weight: 700;
  font-size: 18px;
  width: 76px;
  height: 20px;
  color: #6070ff;
  display: flex;
  margin: 0 20px;
}

.navbar .navbar-btn {
  background: none;
  border: none;
  color: #6070ff;
  width: 40px;
  height: 40px;
  margin: 0 20px;
}

.navbar .navbar-btn i {
  background: none;
  border: none;
  color: #6070ff;
  font-size: 18px;
}

.intro {
  border-bottom-left-radius: 10%;
  height: calc(100% - 72px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.intro .container {
  width: 50%;
}

.intro .heading h1 {
  font-weight: 700;
  line-height: 60px;
  color: #172b4d;
}

.intro .bio p {
  font-weight: 400;
  line-height: 24px;
  color: #344563;
}

.intro .connect .connect-title p {
  font-weight: 500;
  line-height: 24px;
  color: #7f8cff;
  margin: 1rem 0;
}

.intro .connect .connect-list .unorderd-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

.intro .connect .connect-list .unorderd-list li {
  margin-right: 1rem;
}

.intro .connect .connect-list .unorderd-list li i {
  font-size: 25px;
  color: #505f79;
}

/*
  Work Section
*/
.work {
  margin-top: 6rem;
  display: grid;
}
.work .project {
  margin-bottom: 6rem;

  width: 100%;
  display: flex;
}
.work .card {
  width: 90%;
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
}
.work .card .card-image img {
  width: 100%;
  height: 100%;
}
.work .card .card-body {
  width: 100%;
}
.work .card .card-body .card-title {
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin: 1rem 0;
}
.work .card .card-body .card-client-info ul {
  display: flex;
  justify-content: flex-start;
}
.work .card .card-body .card-client-info ul li {
  flex: 1;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}
.db-color {
  color: #344563;
}
.bg-color {
  color: #7a869a;
}
.work .card .card-body .card-client-info ul li::marker {
  color: #c1c7d0;
}
.work .card .card-body .card-client-info ul li:nth-child(1) {
  list-style: none;
}
.work .card .card-body .card-pragrph {
  width: 70%;
  margin: 1rem 0;
}
.work .card .card-body .card-pragrph p {
  color: #344563;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}
.work .card .card-body .card-tech ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
}
.work .card .card-body .card-tech ul li {
  color: #6070ff;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  background: #ebebff;
  border-radius: 8px;
  margin: 1rem 1rem 1rem 0;
  padding: 0.5rem;
}
.work .card .card-body .card-btn button {
  background: none;
  padding: 0.5rem;
  border: 1px solid #396df2;
  border-radius: 9px;
  color: #396df2;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

/*
    Media Query
*/
@media screen and (min-width: 375px) {
  .intro {
    background-image: url("images/header-shapes\ mobile@2x.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .intro .container {
    width: 90%;
  }

  .intro .heading h1 {
    font-size: 48px;
    margin: 4rem 0 1rem;
  }

  .intro .heading h1 span::before {
    content: "\A";
    white-space: pre;
  }

  .intro .bio p {
    font-size: 16px;
  }

  .work {
    grid-template-columns: 100%;
  }
  .work .project {
    flex-direction: column;
    align-items: center;
  }
  .work .card .card-body .card-title {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .intro {
    background-image: url("images/Header\ bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .navbar .navbar-btn {
    display: none;
  }

  .intro .container {
    width: 50%;
  }

  .intro .heading h1 {
    font-size: 40px;
    line-height: 52px;
  }
  .intro .heading h1 span::before {
    content: "\A";
    white-space: normal;
  }

  .intro .bio p {
    font-size: 20px;
  }

  .intro .connect .connect-title p {
    font-size: 16px;
  }
}
